body {
    background-color: rgb(200, 246, 200);
}

.cabeçalho {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid green;
    background-image: url(wp9212011.jpg);
    background-size: cover;
    background-position: 50% 75%;
}

.cabeçalho-título {
    color: black;
    font-size: 100px;
    font-family: "Irish grover";
    background-color: rgb(200, 246, 200);
    border: 2px solid rgb(20, 55, 20);
    padding: 20px;
    border-radius: 5px;
    opacity: 0.8;
}


.cab-text-border {
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
}

.cabeçalho-lista-item1 {
    color: black;
    font-size: 22px;
}

.cabeçalho-logotipo {
    width: 180px;
    img{border: radius 10px;}
}


.produtos {
    height: 180px;
    display: flex;
}

.nossos-produtos-titulo {
font-size: 64px;
line-height: 180px;
-webkit-text-stroke-color: rgb(255, 255, 255);
-webkit-text-stroke-width: 2px;
color: black;
font-family: "Irish grover";

justify-content: center;
align-items: center;

flex: 2.5;
margin: 0;
margin-left: 419px;
margin-top: 20px;
}

.ofertas {
    justify-content: right;
    align-items: center;
    line-height: 64px;
    margin: 0;
    flex: 1;
    border: 2px solid green;
    margin-top: 65px;
    margin-right: 20px;
    padding: 8px;
    
}

.link-ofertas {
    color: red;
}

.Nossos-produtos-div {
    background-color: rgb(200, 246, 200);
    color: black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: "Anton";
}

.secao{
    display: flex;
    position: relative;
    border: 2px solid green;
    margin-top: 10px;
}

.it2{
    margin-left: 200px;
}

.it3 {
    margin-left: 200px;
}

.imagem-mel{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 15px;
}

.imagem-pinhao{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.imagem-abobora{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
}

.pinhao-abobora{
    display: flex;
    position: relative;
    border: 2px solid green;
    margin-top: 10px;
}

.imagem-queijo{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 15px;
}

.queijo{
    text-align: center;
}

.secao2{
    margin-left: 700px;
}

.descricao{
    text-align: center;
    font-size: 30px;
    font-family: "Anton";
}

.imagem-milho{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 20px;
}
.imagem-tomate{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
}

.desc-milho{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.desc{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.milho-tomate{
    display: flex;
    position: relative;
    border: 2px solid green;
    margin-top: 10px;
}

.espaço-3{
    margin-left: 700px;
}

.imagem-ovo{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 20px;
}

.imagem-melancia{
    height: 190px;
    width: 250px;
    border-radius: 10px;
    margin-top: 35px;
}

.desc-ovo{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.desc-melancia{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.ovo-melancia{
    display: flex;
    position: relative;
    border: 2px solid green;
    margin-top: 10px;
}



.espaço-4{
    margin-left: 700px;
}

.imagem-laranja{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 20px;
}

.imagem-mandioca{
    height: 190px;
    width: 250px;
    border-radius: 10px;
    margin-top: 35px;
}

.desc-mandioca{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.desc-laranja{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.laranja-mandioca{
    display: flex;
    position: relative;
    border: 2px solid green;
    margin-top: 10px;
}



.espaço-5{
    margin-left: 700px;
}

.imagem-jilo{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 20px;
}

.imagem-leite{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
}

.desc-jilo{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.desc-leite{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.jilo-leite{
    display: flex;
    position: relative;
    border: 2px solid green;
    margin-top: 10px;
}



.espaço-6{
    margin-left: 700px;
}






.rodapé{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    align-items: center;
    height: auto;
    width: auto;
    background-color: #C0EEFF;
    border: 2px solid green;
}

.logo-estado {
    margin-left: 30px;
    height: 180px;
    width: 230px;
}

.logo-instagram {
    height: 70px;
    width: 70px;
}

.rodape-frase{
    font-size: 30px;
    font-weight: 800;
    font-family: "Artifika";
    color: rgb(47, 47, 141);
    margin-left: 15px;
    text-align: center;
}
.contato_titulo{
    font-size: 15px;
    text-align:center;
    font-family: "Artifika";
}