body {
    background-color: rgb(200, 246, 200);
}

.cabeçalho {
    background-color: rgb(96, 192, 96);
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid green;
}

.cabeçalho-título {
    color: black;
    font-size: 100px;
    font-family: "Irish grover";
}

.cab-text-border {
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
}

.cabeçalho-lista-item1 {
    color: black;
    font-size: 22px;
}

.cabeçalho-logotipo {
    width: 180px;
    img{border: radius 10px;}
}

.Nossos-produtos-div {
    background-color: rgb(200, 246, 200);
    color: black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: "Anton";
}

.imagem-queijo{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 15px;
}

.queijo{
    text-align: center;
}

.produtos-1{
    display: flex;
    position: relative;
    border: 2px solid green;
}

.espaço{
    margin-left: 700px;
}

.imagem-mel{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 15px;
}

.imagem-pinhao{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.imagem-abobora{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
}

.pinhao-abobora{
    display: flex;
    position: relative;
    border: 2px solid green;
    margin-top: 10px;
}

.espaço-2{
    margin-left: 700px;
}

.descricao{
    text-align: center;
    font-size: 30px;
    font-family: "Anton";
}

.imagem-milho{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 20px;
}

.imagem-tomate{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
}

.desc-milho{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.desc{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.milho-tomate{
    display: flex;
    position: relative;
    border: 2px solid green;
    margin-top: 10px;
}

.espaço-3{
    margin-left: 700px;
}

.imagem-ovo{
    height: 240px;
    width: 300px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 20px;
}

.imagem-melancia{
    height: 190px;
    width: 250px;
    border-radius: 10px;
    margin-top: 35px;
}

.desc-ovo{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.desc-melancia{
    text-align: center;
    font-size: 30px;
    font-family: "Anton"
}

.ovo-melancia{
    display: flex;
    position: relative;
    border: 2px solid green;
    margin-top: 10px;
}

.espaço-4{
    margin-left: 700px;
}

.rodapé{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    align-items: center;
    height: auto;
    width: auto;
    background-color: #C0EEFF;
    border: 2px solid green;
}

.logo-estado {
    height: 230px;
    width: 260px;
}

.logo-instagram {
    height: 70px;
    width: 70px;
}

.rodape-frase{
    font-size: 30px;
    font-weight: 800;
    font-family: "Artifika";
    color: rgb(47, 47, 141);
    margin-left: 15px;
    text-align: center;
}
.contato_titulo{
    font-size: 15px;
    text-align:center;
    font-family: "Artifika";
}